langchain
langchain_openai
langsmith
faiss-cpu
python-docx
PyPDF2
mammoth
sentence-transformers
torch
transformers
openai
streamlit
Streamlit-feedback
Langchain-community
python-docx
PyPDF2
Dspy-ai
reportlab
duckduckgo-search>=3.0.0
google-api-python-client>=2.0.0
